@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


.mainWrapper {
    display: flex;
    flex-direction: column;
}
.mainHead {
    display: flex;
    flex-direction: column;
    background: url(../../../image/headImage.svg);
    height: 873px;
    background-size: 100%;
    margin: 30px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    margin-top: 30px;
    margin-bottom: 230px;
}
.rightMenu {
    display: flex;
    width: 360px;
    justify-content: space-around;
    align-items: flex-end;
}
.articles {
    width: 85px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: rgb(24, 23, 23);
    margin: 0 !important
}
.about {
    width: 60px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: #484D47;
    margin: 0 !important
}
.subscribe {
    width: 98px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: #484D47;
    margin: 0 !important
}
.textHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lombok {
    width: 591px;
    height: 120px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0.06em;
    color: #484D47;
    margin: 0px;
}
.health {
    width: 330px;
    height: 36px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #484D47;
    margin: 12px 0px 0px;
}
.line {
    margin-top: 36px;
    width: 81px;
    height: 5px;
}
.menuButton {
    display: none;
}


@media only screen and (min-width: 768px) {
    .mainHead {
        height: 480px;
        margin: 10px;
    }
    .menu {
        margin-top: 0px;
        margin-bottom: 80px;
        padding: 10px 12px 0px;
    }
    .articles {
        width: 75px;
        height: 9px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.25em;
    }
    .about {
        width: 53.85px;
        height: 9px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.25em;
    }
    .subscribe{
        width: 84.77px;
        height: 9px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.25em;
    }
    .logoImage {
        width: 29.92px;
        height: 17.2px;
    }
    .rightMenu {
        width: 300px;
        justify-content: space-between;
    }
    .lombok {
        width: 317px;
        height: 58px;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: 0.06em;
        margin: 30px 0px 15px ;
    }
    .health {
        width: 220px;
        height: 18px;
        font-size: 24px;
        line-height: 24px;
        margin: 0px;
    }
    .line {
        width: 45px;
        height: 3px;
        margin-top: 22px
    }
    .menuButton {
        display: none;
    }
}

@media only screen and (min-width: 320px)  {
    .mainHead {
        background: url(../../../image/headImageSmall.png);
        height: 544px;
        margin: 12px;
    }
    .logoImage {
        display: none;
    }
    .rightMenu {
        display: none;
    }
    .lombok {
        width: 207px;
        height: 34px;
        font-weight: bold;
        font-size: 42px;
        line-height: 42px;
        letter-spacing: 0.06em;
        margin: 0px;
    }
    .menu {
        margin: 0px;
        padding: 9px 9px 170px;
    }
    .health {
        width: 184px;
        height: 15px;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        margin: 25px;
    }
    .line {
        width: 50px;
        height: 3px;
        margin: 0px;
    }
     .hamburger-menu {
         height: 568px;
         width:320px;
     }
     #menu__toggle {
        opacity: 0;
    }
  .menu__btn {
    display: flex; 
    align-items: center;  
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 320px;
    height: 568px;
    margin:  0px;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background: #252525;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #74887F;
    font-family: Josefin Sans;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.17em;
  }
  .mobileText {
      margin-top: 120px;
  }
  .menu__item:hover {
    color: white;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}