@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


.mainWrapper {
    display: flex;
    flex-direction: column;
}
.mainHead {
    display: flex;
    flex-direction: column;
    background: url(../../../image/headImage.svg);
    height: 873px;
    background-size: 100%;
    margin: 30px;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    margin-top: 30px;
    margin-bottom: 230px;
}
.rightMenu {
    display: flex;
    width: 360px;
    justify-content: space-around;
}
.articles {
    width: 85px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: rgb(24, 23, 23);
    margin: 0 !important
}
.about {
    width: 60px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: #484D47;
    margin: 0 !important
}
.subscribe {
    width: 98px;
    height: 14px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.17em;
    color: #484D47;
    margin: 0 !important
}
.textHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lombok {
    width: 591px;
    height: 120px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    letter-spacing: 0.06em;
    color: #484D47;
    margin: 0px;
}
.health {
    width: 330px;
    height: 36px;
    font-family: Josefin Sans;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    color: #484D47;
    margin: 12px 0px 0px;
}
.line {
    margin-top: 36px;
    width: 81px;
    height: 5px;
}
